$black: #393b3b;
$black2: black;
$breadcrumb-item-color: $black;
$footer-background-color: $black2;

@import './node_modules/bulma/bulma.sass';
html, body {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: rgb(255, 255, 255);
    color:black;
  }
  .grayg{
    background:  #ECF0F3;
  }
  .main{
    width:95%;
    margin: 0 auto;
    height:1200px;
  }
  
  nav.navbar {
    border-bottom: 1px solid #777777b0;
    margin-bottom: 1rem;
  }
  .navbar-item.brand-text {
    font-weight: 300;
  }
  .navbar-item, .navbar-link {
    font-size: 14px;
    font-weight: 700;
  }
  .columns {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
  
  
  .hero.welcome.is-info {
    background: rgb(255, 255, 255);
   
  }
  .hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(0, 0%, 5%);
  }
  .hero.welcome .title{
    font-weight: 505;
    font-size: 1.5em;
  }
  .green{
   
    background-color: rgba(185, 255, 195, 0.568);
    margin-top: 37px;
    border-bottom: 1px solid #a3a0a0b0;
   
  }
  #ordendetalle{
    color: hsl(101, 88%, 37%);
    line-height: 25%;
  }
  .hero-body h4{
    color:black;
    font-size: .8em;
  }
  .ord{
    padding-top: 10px !important;
    padding-bottom:10px !important;

  }
  .column h3,.column p{
    font-size:.8em;
    color:rgba(0, 0, 0, 0.781)
  }
  .column h3{
    margin-bottom: 4px;
  }
  .tarjeta .columns .column.is-3{
    text-align: center;
  }
  .columns.is-gapless.orden{
    
    border-top: 1px solid #a3a0a0b0;
    align-items: center;
  }
  .tarjeta .columns{
    align-items: center;
  }
  .tarjeta{
    width: 90%;
    height:196px;
    margin:10px auto;
    padding:8px;
    border: 1px solid #a3a0a0b0;
    border-radius: 3px; 
  }
  .footer .column p{
    color: white;
  }
  .footer .content .columns{
    align-items:center;
    text-align: center;
  }

 